<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.service.alarm">


    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>

        <!-- Ресивер для обработки алармов -->
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="true"
            android:enabled="true">
            <!-- Указываем, какие интенты обрабатывает ресивер -->
            <intent-filter>
                <action android:name="com.example.service.alarm.ACTION_ALARM" />
                <!-- Здесь можно указать другие фильтры или действия -->
            </intent-filter>
        </receiver>

        <!-- Сервис для обработки алармов в фоновом режиме -->
        <service
            android:name=".service.AlarmService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback" />

    </application>
</manifest>